*,
*::before,
*::after{
    box-sizing: border-box;
}

/*Custom variables*/

:root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    --clr-gray: rgba(128,128,128,0.4);
    
    --fs-h1: 3.5rem;
    --fs-h2: 1.9rem;
    --fs-h3: 1.35rem;
    --fs-body: 1rem;   
}

@media (min-width: 800px){
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3rem;
        --fs-h1: 1.5rem;
        --fs-body: 1.125rem;
    }
}



body{
    /*background: var(--clr-light);*/
    color: var(--clr-dark);
    margin: 15px;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    background: linear-gradient(
        35deg,
        #ccffff,
        #ffcccc
      );
}    

img{
    display: block;
    max-width: 100%;
}

/*Text styles*/
h1,
h2,
h3{
    line-height: 1.5;
    margin: 0;
}

h1{
    font-size: var(--fs-h1);
}

h2{
    font-size: var(--fs-h2);
}

h3{
    font-size: var(--fs-h3);
}

/*Section styles*/


.section-subtitle{
    margin: 0;
}

.section-subtitle--intro{
    text-align: center;
}

.section-subtitle--intro,
.section-sub-about{
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
}

.my-picture{
    text-align: center;
}

/*Text box CSS*/
.text-query{
    border-radius: 5%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: linear-gradient(
        35deg,
        #ccffff,
        #ffcccc
      );
}

.queries{
    padding-left: 15px; 
    margin: 3px auto;
}

.header-class,
.footer-class{
    background-color: var(--clr-gray);
    /*border-radius: 15%;
    padding: 20px;
    margin: 5px;
    padding: 5px;*/
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


ul {
    list-style-type: none;
    margin: 0;
}

.nav-bar{
    display: table;
    width: 100%;
}

.nav-bar li{
    display: inline-block;
    margin: 0;
    margin-right: 35px
}
.nav-list{
    /*float: right;*/
    text-align: center;
    display: table-cell;
    position: relative;
}
.nav-item:hover{
    background-color: rgba(128,128,128,0.6);
}

.slider {
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-direction: alternate;
  }
  
  @keyframes slidein {
    from {
      margin-left:100%;
      width:300%
    }
  
    to {
      margin-left:1%;
      width:100%;
    }
  }

li{
    display: inline;
}

header a,
footer a{
    font-size: 25px;
    color: #303030;
    text-decoration: none;
    font-weight: var(--fw-bold);
}

footer a{
    font-size: 20px;
    font-weight: var(--fw-reg);
}

.section-title--intro{
    text-align: center
}

.each-section{
    background-color: rgba(128,128,128,0.1);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.social-list{
    display:flexbox;
}

.social-item{
    display: block;
}

.social-list img{
    width: 25px;
    height: 25px;
    float: left;
}

.center-query{
    text-align: center;
    align-items: center;
}

.contact-me{
    margin-left: 15px;
}

.see-all-btn{
    border-top-left-radius: 19px;
    border-bottom-left-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    padding: 15px 15px 15px 15px;
}

.see-all-btn:hover{
    transform: scale(125%);
    animation-name: slow-big-transition;
}