*,
*::before,
*::after{
    box-sizing: border-box;
}

/*Custom variables*/

:root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    --clr-gray: rgba(128,128,128,0.4);
    
    --fs-h1: 3.5rem;
    --fs-h2: 1.9rem;
    --fs-h3: 1.35rem;
    --fs-body: 1rem;   
}

@media (min-width: 800px){
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3rem;
        --fs-h1: 1.5rem;
        --fs-body: 1.125rem;
    }
}



body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 15px;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}    

img{
    display: block;
    max-width: 100%;
}

/*Text styles*/
h1,
h2,
h3{
    line-height: 1.5;
    margin: 0;
}

h1{
    font-size: var(--fs-h1);
}

h2{
    font-size: var(--fs-h2);
}

h3{
    font-size: var(--fs-h3);
}

/*Section styles*/


.section-subtitle{
    margin: 0;
}

.section-subtitle--intro,
.section-sub-about{
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
}

/*Text box CSS*/
.text-query{
    border-radius: 5%;
}

.queries{
    padding-left: 15px; 
    margin: 3px auto;
}

.header-class,
.footer-class{
    background-color: var(--clr-gray);
    border-radius: 5%;
    /*margin: 5px;
    padding: 5px;*/
}


ul {
    list-style-type: none;
    margin: 0;
}

.nav-bar{
    display: table;
    width: 100%;
}
.nav-list{
    float: right;
    display: table-cell;
    position: relative;
}

.slider {
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-direction: alternate;
  }
  
  @keyframes slidein {
    from {
      margin-left:100%;
      width:300%
    }
  
    to {
      margin-left:1%;
      width:100%;
    }
  }

li{
    display: inline;
}

header a{
    font-size: 25px;
    color: #303030;
    text-decoration: none;
    font-weight: var(--fw-bold);
}

a:hover { background-color: rgba(128,128,128,0.6); }
